---
import Separator from '@/components/ui/Separator.astro';

interface Props {
  id?: string;
  class?: string;
}
const { id, class: className = '' } = Astro.props as Props;
---

<Separator>
  <h1 id={id} class={className}><slot /></h1>
</Separator>
