---
interface Props {
  id?: string;
  class?: string;
}
const { id, class: className = '' } = Astro.props as Props;
---

<div class='relative flex'>
  <h2 id={id} class={className}><slot /></h2>
</div>
